<div class="container">
  <h2>Top 10 Artists</h2>
  <div class="topTenArtists flex">
      <a href="">
          <div class="artistCard">
              <div class="overlay">
                  <p>Sonu nigam</p>
              </div> 
              <img src="./../../../assets/images/Spotify_logo_without_text.svg" alt="cover photo">
              <div class="cardDesc flex">
                  <p class="date">15 June 2022</p>
                  <p class="rate"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
              </div>
          </div>
      </a>
      <a href="">
          <div class="artistCard">
              <div class="overlay">
                  <p>Sonu nigam</p>
              </div>
              <img src="./../../../assets/images/Spotify_logo_without_text.svg" alt="cover photo">
              <div class="cardDesc flex">
                  <p class="date">15 June 2022</p>
                  <p class="rate"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
              </div>
          </div>
      </a>
      <a href="">
          <div class="artistCard">
              <div class="overlay">
                  <p>Sonu nigam</p>
              </div>
              <img src="./../../../assets/images/Spotify_logo_without_text.svg" alt="cover photo">
              <div class="cardDesc flex">
                  <p class="date">15 June 2022</p>
                  <p class="rate"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
              </div>
          </div>
      </a>

  </div>
</div>
