<header class="flex">
  <div class="flex">
      <img src="./../../../assets/images/Spotify_logo_without_text.svg" alt="logo" srcset="">
      <h1>Spotify</h1>

  </div>
  <nav>
      <ul class="flex">
          <li class="search-container"><input type="search" placeholder="Search for Song" name="" id="">
              <a href="" class="search"><i class="fa fa-search"></i></a>
          </li>
          <li><a href="" class="clicked">Home</a></li>
          <!-- Once login -->
          <!-- <li><a href="">Add Song</a></li>
          <li><a href="">Logout</a></li> -->

          <li><a href="">Login</a></li>
      </ul>
  </nav>
</header>
