.artist-container
{
    max-width:500px;
    width:90vw;
    height:120px;
    border-radius: 15px;
    position:sticky;
    top:50px;
    left:50px;
    z-index:6;
    margin-top: 20px;
    background:#000000;

}

.artist-container
{
    position: relative;
    top:10px;
}
.artist-container .artist-name
{
    margin-top: 20px;
    font-size: 14px;
    color:#fff;
    text-transform:capitalize;
}

.artist-container .bio-container
{
    padding:0px 30px;
    margin-top: 5px;
    color:#acacac;
}

.artist-container .cardDesc
{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    bottom:30px;
    width:80%;
    justify-content: space-between;


}

.artist-container .artist
{
    position: relative;
    top:0px;
    height:100%;
    width:100%;

}
