<app-header></app-header>
<section>
  <app-player></app-player>
  <div class="container">
      <h2>Top 10 Songs</h2>
      <div class="topTenSongs flex">
          <a href="">
              <div class="songCard">
                  <div class="overlay">
                      <p>Baby I Love you Soney</p>
                  </div>
                  <img src="./../../../assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg" alt="cover photo">
                  <div class="artist">
                      <p> Artist - Sonu Nigam</p>
                  </div>
                  <div class="cardDesc flex">
                      <p class="date">15 June 2022</p>
                      <p class="rate"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                  </div>
              </div>
          </a>
          <a href="">
              <div class="songCard">
                  <div class="overlay">
                      <p>Baby I Love you Soney</p>
                  </div>
                  <img src="./../../../assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg" alt="cover photo">
                  <div class="artist">
                      <p> Artist - Sonu Nigam</p>
                  </div>
                  <div class="cardDesc flex">
                      <p class="date">15 June 2022</p>
                      <p class="rate"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                  </div>
              </div>
          </a>
          <a href="">
              <div class="songCard">
                  <div class="overlay">
                      <p>Baby I Love you Soney</p>
                  </div>
                  <img src="./../../../assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg" alt="cover photo">
                  <div class="artist">
                      <p> Artist - Sonu Nigam</p>
                  </div>
                  <div class="cardDesc flex">
                      <p class="date">15 June 2022</p>
                      <p class="rate"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                  </div>
              </div>
          </a>
      </div>
  </div>
  <app-artists></app-artists>
</section>
<app-footer></app-footer>
