<div class="player-container flex" draggable="true">
  <div class="player">
      <div class="details">
          <p>Baby I love you soney</p>
          <p class="artist-name">Sonu Nigam</p>
      </div>
      <div class="player-controlls flex">
          <a href=""><i class="fa fa-step-backward"></i></a>
          <a href=""><i class="fa fa-play-circle"></i></a>
          <a href=""><i class="fa fa-step-forward"></i></a>
      </div>
  </div>
  <div class="rating">
      <button class="star-one"><i class="fa fa-star"></i></button>
      <button class="star-two"><i class="fa fa-star"></i></button>
      <button class="star-three"><i class="fa fa-star"></i></button>
      <button class="star-four"><i class="fa fa-star"></i></button>
      <button class="star-five"><i class="fa fa-star"></i></button>
      <button class="rate-action">Rate</button>
  </div>
</div>
